/*global styles*/
.text-primary {
    color: #F95030 !important;
}

.bg-primary {
    background: linear-gradient(-180deg,#f53d2d,#f63);
}

.text-small {
    font-size: 0.75rem;
}

.circle {
    border-radius: 50%;
}

/*header*/
header {
    color: white;
}

header .nav-item {
    display: flex;
    align-items: center;
}

header .nav-item .nav-link {
    color: white;
    font-size: .8125rem;
}

header .left-nav .nav-item .nav-link.slash {
    border-right: 1px solid #ccc;
    line-height: 0.1em;
}

header .avatar {
    width: 20px;
    height: 20px;
}

/*navbar*/
.navbar .search-btn {
    position: absolute;
    right: 20px;
    width: 60px;
    height: 34px;
    color: white;
}

.navbar .fa-cart-shopping {
    font-size: 30px;
}
